* {
    padding: 0px;
    margin: 0px;
}

/* primary font */
body {
    font-family: 'Open Sans', sans-serif;
}

/* primary text color */
.primary-text {
    color: #444343;
}

/* primary Button */
.primary-btn {
    padding: 15px;
    border-radius: 5px;
    background-color: #FFF;
    color: #F15B22;
    border: none;
}


/* header section style */
header {
    background-image: url("../images/banner/banner2.png")
        /* ,linear-gradient(rgb(0, 12, 12),rgb(0, 0, 19))*/
    ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 809px;
    /* position: relative; */
    padding: 200px 230px 0px 650px;
}

.header-container {
    text-align: right;
}

.header-title {
    color: #151414;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 24px;
}

.header-btn {
    background-color: #F15B22;
    color: #FFF;
    margin-top: 32px;
}

/* Main Section style */

/* My failures of previous year section style */
main {
    background-color: #FFF;
    padding: 130px 200px;
}

.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.banner-info {
    padding-left: 0px;
}

.banner-info-title {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-info-description {
    width: 416px;
    margin-top: 0px;
    margin-bottom: 16px;
}

ul {
    list-style: none;
}

.banner-info-list {
    margin-bottom: 8px;
}

.tick {
    color: greenyellow;
}

/* My plane section style */
.my-plane {
    margin-top: 150px;
}

.my-plane-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.my-plane-item-container {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.my-plane-item {
    text-align: center;
}

/* Awlays keep a positive mindset section style */
.mindset {
    margin-top: 130px;
    background-image: linear-gradient(rgba(255, 166, 0, 0.486),rgba(0, 0, 0, 0.007)), url("../images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    padding: 60px 400px 60px 65px;
}

.mindset-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}


/* Footer section style */
